<!-- Start Footer -->
<footer>
	<div class="row footer">
		<div class="col-md-6 text-left">
			Copyright © 2024 Ent Wiz All rights reserved.
		</div>
	</div>
	<!-- ================================================
	jQuery Library
	================================================ -->
	<script src="/js/jquery.min.js"></script>

	<!-- ================================================
	Plugin.js - Some Specific JS codes for Plugin Settings
	================================================ -->
	<script src="/js/sha256.js"></script>
</footer>
<!-- End Footer -->